h1.history {
  font: bold 16px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 0 10px;
}

.version-history {
  font-size: 11px;
}

.release:first-child {
  background: #fffbcd;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #f5c83f;
  border-radius: 4px;
}

.release {
  margin: 20px 0 10px;
  padding: 0 20px;
}