<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a *ngIf="expand" href="#" class="btn btn-xs btn-icon btn-circle btn-lime">
        <i class="fa fa-expand"></i>
      </a>
      <a *ngIf="collapse" href="#" class="btn btn-xs btn-icon btn-circle btn-warning">
        <i class="fa fa-minus"></i>
      </a>
      <a *ngIf="remove" href="#" class="btn btn-xs btn-icon btn-circle btn-danger">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <h4 class="panel-title">{{title}}</h4>
  </div>
  <div class="panel-body">
    <div class="panel-option">
      <div class="dropdown pull-right">
        <a href="#" class="btn btn-white btn-rounded btn-sm" data-toggle="dropdown">Change Date <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Last Week</a></li>
          <li><a href="#">Last Month</a></li>
          <li><a href="#">Last Year</a></li>
        </ul>
      </div>
      <div class="text-ellipsis">Date: 1 November 2015 - 30 November 2015</div>
    </div>
  </div>
</div>