// Import Google font
@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,200,600.css";

// Color list
$color-navy-blue:#34495e;
$color-violet:#9b59b6;
$color-blue:#3498db;
$color-green:#62cb31;
$color-yellow:#ffb606;
$color-orange:#e67e22;
$color-red:#e74c3c;
$color-red-deep:#c0392b;

// Additional colors
$color-text: #6a6c6f;
$color-bright: #f7f9fa;
$color-background: #f1f3f6;
$color-background-boxed: #f9fbfe;
$border-color: #e4e5e7;

// Additional variables
$menu-width: 180px;
$main-transition: all 0.1s ease-out 0s;

@import "various";

// Import all styles
@import "margins";
@import "alerts";
@import "modal";
@import "progress_bar";
@import "timeline";
@import "text_editor";
@import "grid";
@import "dropdown";
@import "buttons";
@import "fonts";
@import "layout";
@import "lists";
@import "panels";
@import "tabs";
@import "tooltip";
@import "nestable_list";
@import "rangeslider";
@import "custom";
@import "select";
@import "checkbox";

@import "login";

.app-item {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 4px rgba(0,0,0,.24);
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 40px;
  text-align: left;

  &:hover {
    box-shadow: 0 1px 6px rgba(0,0,0,.36),0 1px 4px rgba(0,0,0,.72);
  }

  .header {
    display: flex;
    flex-direction: row;

    .column {
      padding: 16px;
    }

    .column:first-child {
      flex: 1;
    }

    .title {
      margin: 0;
      font-size: 18px;
      color: #4a4a4a;
      display: block;
      line-height: 24px;
      height: 48px;
      overflow: hidden;
      word-break: break-all;
    }

    .avatar {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      overflow: hidden;
      background-size: cover;
      background-position: 50% 50%;
      background-color: rgb(34,139,229);
      text-align: center;
    }
  }

  .description {
    padding: 0 16px;
    font-size: 14px;
    color: rgba(74,74,74,.64);
    font-weight: 400;
    line-height: 20px;
    height: 80px;
    overflow: hidden;
    display: block;
  }

  .meta {
    padding: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #9b9b9b;

    .icon {
      font-size: 15px;
      margin-right: 8px;
      position: relative;
      top: 1px;
    }

    .version-stable {
      color: #7ed321;
    }

    .section {
      padding: 4px 0;
      display: flex;
      flex-direction: row;
    }

    .column-flex {
      flex: 1;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      &>li {
        display: inline-block;
      }
    }
  }
}