body.blank {
  background-color: $color-background;
}

.login-container {
  max-width: 420px;
  margin:auto;
  padding-top: 2%;

  h3 {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #ccc;
  }

  .copyright {
    color: #000;
  }
}

.btn-social.btn-google-plus {
  background-color: #eb5e4c;
  border-color: #eb5e4c;
  color: #fff;

  i {
    float: left;
    padding-right: 5px;
    border-right: 1px solid white;
    line-height: 24px;
  }
}

.btn-social.btn-facebook {
  color: #fff;
  background-color: #5d82d1;
  border-color: #5d82d1;

  i {
    float: left;
    padding-right: 5px;
    border-right: 1px solid white;
    line-height: 24px;
  }
}

.register-container {
  max-width: 720px;
  margin:auto;
  padding-top: 6%;
}

.lock-container {
  max-width: 420px;
  margin:auto;
  padding-top: 6%;
}

.error-container {
  max-width: 620px;
  margin:auto;
  padding-top: 6%;
}

.big-icon {
  font-size: 120px;
}

.error-container h1 {
  font-size: 44px;
}

.back-link {
  float: left;
  width: 100%;
  margin: 10px;
}

@media(max-width: 420px) {
  .login-container, .lock-container {
    margin: auto 10px;
  }
}

@media(max-width: 720px) {
  .register-container {
    margin: auto 10px;
  }
  .lock-container {
    padding-top: 15%;
  }
}

@media(max-width: 620px) {
  .error-container {
    margin: auto 10px;
  }
}